{% extends "base.html" %}
{% block title %}Smart Home Control – Smartmove{% endblock %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'webapp/css/about.css' %}">
<link rel="stylesheet" href="{% static 'webapp/css/service_page.css' %}">
<link rel="stylesheet" href="{% static 'webapp/css/service_page_cascade.css' %}">

{% endblock %}
{% block content %}
{% static 'webapp/images/lighting.jpg' as sample1_url %}

{% include "webapp/partials/service_page.html" with image=sample1_url title="Lighting & Electrical Installations" subtitle="" desc="Safe, efficient installations for renovations, upgrades, and new builds." %}

{% endblock %}
{% block extra_js %}
{% endblock %}