{% extends "base.html" %}
{% block title %}Smart Home Control – Smartmove{% endblock %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'webapp/css/about.css' %}">
<link rel="stylesheet" href="{% static 'webapp/css/service_page.css' %}">
<link rel="stylesheet" href="{% static 'webapp/css/service_page_cascade.css' %}">

{% endblock %}
{% block content %}
{% static 'webapp/images/service3head.png' as sample1_url %}

{% include "webapp/partials/service_page.html" with image=sample1_url title="Custom Window Shades" subtitle="" desc="Motorized and integrated with your smart home system. Quiet, sleek, and programmable." %}

{% endblock %}
{% block extra_js %}
{% endblock %}