.services {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 3rem 1rem;
  box-sizing: border-box;
  margin-bottom: 5rem;
}
.services__title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* Grid layout */
.services__grid {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}
/* Image styling */
.services__img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  display: block;
  object-fit: cover;
}

/* Service title */
.services__item-title {
  margin-top: 0.75rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
}
/* Individual item */

.services__item-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__item{
  color: inherit;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.services__item:hover {
  transform: scale(1.05);
}