
<section id="services" class="services-section">
  <div class="container">
    <div class="services-section__content">
      <h2 class="services-section__title">Lorem ipsum dolor sit amet</h2>
      <p class="services-section__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae condimentum quam. 
        Pellentesque dictum tellus et quam sagittis, non tincidunt dolor pretium.
      </p>
      <p class="services-section__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae condimentum quam. 
        Pellentesque dictum tellus et quam sagittis, non tincidunt dolor pretium.
      </p>
    </div>
    <div class="services-section__image">
      <img src="{{ image }}" alt="Electrical Worker">
    </div>
  </div>
</section>