{% load static %}
<footer class="site-footer">
    <div class="footer-content container">
      <!-- Brand / Description -->
      <div class="footer-brand">
        <p class="footer-brand__name">Smartmove Electrical and Home Automation</p>
        <p class="footer-brand__description">
          <img class="footer-logo" src="{% static 'images/logotransparent.png' %}" alt="logo">
        </p>
      </div>
  
      <!-- Contact Info -->
      <div class="footer-contact">
        <p class="footer-contact__title">Get in Touch</p>
        <ul class="footer-contact__list">
          <li class="footer-contact__item">
            <span class="footer-contact__label">Tanvir Singh:</span>
            <a href="tel:+1234567890" class="footer-contact__link">778-316-9920</a>
          </li>
          <li>
            <span class="footer-contact__label">Rupinder Dhaliwal:</span>
            <a href="tel:+1234567890" class="footer-contact__link">604-849-3074</a>
          </li>
          
          <li class="footer-contact__item">
            <span class="footer-contact__label">Email:</span>
            <a href="mailto:info@yourcompany.com" class="footer-contact__link">smovebc@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  
    <!-- Copyright -->
    <div class="footer-bottom">
      <p class="footer-bottom__copy">© 2025 Smartmove Electrical and Home Automation. All rights reserved.</p>
    </div>
  </footer>