{% load static %}
<header class="header-area overlay">
    <nav class="navbar navbar-expand-md navbar-dark">
		<div class="container">
            <a href="{% url 'index' %}" class="navbar-brand">
				<img class="footer-logo" id="site-logo" src="{% static 'images/logotransparent.png' %}" alt="logo">
				<p class="title-hover">Smartmove <p class="inner-title">Electrical and Automation</p></p>
			</a>
			
			<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
			</button>
			
			<div id="main-nav" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li><a href="{% url 'index' %}" class="nav-item nav-link active">Home</a></li>
					<!--<li><a href="{% url 'about' %}" class="nav-item nav-link">About Us</a></li>-->
					<li class="dropdown">
						<a href="{% url 'services' %}" class="nav-item nav-link" data-toggle="dropdown">Services</a>
						<div class="dropdown-menu">
							<a href="{% url 'home_control' %}" class="dropdown-item">Smart Home Control</a>
							<a href="{% url 'security' %}" class="dropdown-item">Home Security Systems</a>
							<a href="{% url 'window' %}" class="dropdown-item">Custom Window Shades</a>
							<a href="{% url 'theater' %}" class="dropdown-item">Home Theaters & Media Rooms</a>
							<a href="{% url 'lighting' %}" class="dropdown-item">Lighting & Electrical Installations</a>
						</div>
					</li>
				
					<li><a href="{% url 'contact_page' %}" class="nav-item nav-link">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<script>
    const toggler = document.querySelector('.navbar-toggler');
    const mainNav = document.getElementById('main-nav');
    //const logoBlack = "{% static 'images/logo_black.png' %}";
	//const logoColor = "{% static 'images/logo.png' %}";
	//const logoEl    = document.getElementById('site-logo');

    toggler.addEventListener('click', () => {
        mainNav.classList.toggle('show');   // show / hide the links
        toggler.classList.toggle('open');   // re‑position the button
    });

    const header = document.querySelector('.header-area');
  window.addEventListener('scroll', () => {
    if (window.scrollY > 50) {
      header.classList.add('scrolled');
	  //logoEl.src = logoColor;
    } else {
      header.classList.remove('scrolled');
	  //logoEl.src = logoBlack;

    }
  });
</script>