{% extends "base.html" %}
{% block title %}Services – MyApp{% endblock %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'webapp/css/services.css' %}">
<link rel="stylesheet" href="{% static 'webapp/css/services_cascade.css' %}">
{% endblock %}
{% block content %}

{% static 'webapp/images/service1head.png' as sample1_url %}
{% static 'webapp/images/service2head.png' as sample2_url %}
{% static 'webapp/images/service3head.png' as sample3_url %}
{% static 'webapp/images/service4head.png' as sample4_url %}
{% static 'webapp/images/service5head.jpg' as sample5_url %}



<section class="services">
    <h1 class="services__title">Services</h1>
    <div class="services__grid">
      <a href="{% url 'home_control' %}" class="services__item">
        <div class="services__item-inner">
          <img src="{{ sample1_url }}" alt="Service One" class="services__img">
          <h2 class="services__item-title">Smart Home Control</h2>
        </div>
      </a>

      <a href="{% url 'security' %}" class="services__item">
        <div class="services__item-inner">
          <img src="{{ sample2_url }}" alt="Service Two" class="services__img">
          <h2 class="services__item-title">Home Security Systems</h2>
        </div>
        
      </a>

      <a href="{% url 'window' %}" class="services__item">
        <div class="services__item-inner">
          <img src="{{ sample3_url }}" alt="Service Three" class="services__img">
                  <h2 class="services__item-title">Custom Window Shades</h2>
        </div>
      </a>

      <a href="{% url 'theater' %}" class="services__item">
        <div class="services__item-inner">
          <img src="{{ sample4_url }}" alt="Service Three" class="services__img">
          <h2 class="services__item-title">Home Theaters & Media Rooms</h2>
        </div>
        
      </a>

      <a href="{% url 'lighting' %}" class="services__item">
        <div class="services__item-inner">
          <img src="{{ sample5_url }}" alt="Service Three" class="services__img">
          <h2 class="services__item-title">Lighting & Electrical Installations</h2>
        </div>

      </a>
    </div>
  </section>
{% endblock %}

{% block extra_js %}
{% endblock %}